header {
/*	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTqevltmhUDTclhnJoOYKO2IZxEyKoexoEiolYjUMLuF6Lfczc");
*/	padding: 3rem;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    border: 1px solid black;
    background: #bbb;
}

ul {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	list-style: none;
}
li{
	text-decoration: none;
}

main {
  	background: cornsilk;
}

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }

.cardProduit {
	flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background: peachpuff;
    text-align: center;
}

  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background: peachpuff;
  } 
  .card img {
    max-width: 100%;
  }

  .card  a {
	border: 0;
	color: mediumseagreen;
	margin: 2rem;
	width: 100%;
	text-decoration: none;
    }