header {
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTqevltmhUDTclhnJoOYKO2IZxEyKoexoEiolYjUMLuF6Lfczc");
	padding: 3rem;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}

.zoom {
	float: left;
	width: 30rem;
    margin: 4rem;
}


